.App {
  text-align: center;
}

.result {
  font-size: 32px;
  font-family: 'arial', sans-serif;
}

.app__btn{
  border: 1px solid;
  width: 300px;
  height: 100px;
  color: #000000;
  font-family: 'arial', sans-serif;
  font-size: 16px;
}

.App-link {
  color: #61dafb;
}
